body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 31.25rem;
	margin: 0 auto;
    text-align: center;
}

h1, h2, h3, p{
    text-align: left;
}

h2 {
    font-size: 2rem;
}

header, 
footer {
    background-color: #d3d3d3;
    padding: 0.5rem 0;
}


/* Pseudo Classes */
a,
a:visited {
    color: #024517;
}

a:hover,
a:focus {
    color: #9affbc;
    background-color: #000000;
}

a:focus {
    outline: 1px solid #024517;
}

a:active {
    color: #9affbc;
    background-color: #024517;
}

/* Title */
.title {
    font-size: 1rem;
    text-align: center;
}

/* Navigation Bar */
.nav-bar {
    margin: 1.5rem 0;
}

.nav-bar ul {
    padding: 0;
}

.nav-bar ul li{
    display: inline-block;
    margin: 0 1rem;
}

.nav-bar ul li a{
    text-decoration: none;
}

/* Services */
.services article {
    background-color: lightgreen;
    padding: 1.5rem;
    margin-bottom: 2rem;
}

.services article h3 {
    border-bottom: 1px solid black;
    padding-bottom: 0.5rem;
}

.email-link {
    display: inline-block;
    background-color: green;
    padding: 1rem 4rem;
    color: white;
    text-decoration: none;
}

/* Customers */
img {
    border-radius: 50%;
}

footer p {
    text-align: center;
}

blockquote p {
    display: inline-block;
}