body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 31.25rem; /* Makes our page mobile size only */
	margin: 0 auto;
    text-align: center;
}

h1, h2, h3, p{
    text-align: left;
}

a:visited {
    color: #02802c;
}

a:hover,
a:focus {
    color: goldenrod;
}

a:focus {
    outline: 1px solid #02802c;
}

a:active {
    color: goldenrod;
    background-color: #02802c;
}

.services article {
    background-color: lightgreen;
    padding: 2rem;
    margin-bottom: 2rem;
}

.services article h3 {
    border-bottom: 1px solid black;
    padding-bottom: 0.5rem;
}

.nav-bar {
    margin: 1.5rem 0;
}

.nav-bar ul li{
    display: inline-block;
    margin: 0 1rem;
}

.nav-bar ul li a{
    text-decoration: none;
}

header, 
footer {
    background-color: lightgray;
    padding: 0.5rem 0;
}

.email-link {
    display: inline-block;
    background-color: green;
    padding: 1rem 2.5rem;
    color: white;
    text-decoration: none;
    width: 50%;
}

img {
    border-radius: 50%;
}

footer p {
    text-align: center;
}

.title {
    font-size: 1rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
}

ul {
    padding: 0;
}